/node_modules
/oh_modules
/local.properties
/contacts.p7b
/material/
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/agent-tools/
/scripts
/.cursor
/*.cursor*
BuildProfile.ets